h1{ text-align: center;}

#Heading-section-top{
    color: rgb(37, 165, 37);
}

.font-color-pink{
    color: pink;
}


.font-size-10{
    font-size: 8rem;
}

.font-oswald{
    font-family: "Oswald", sans-serif;
    font-indent: 10px !important;
    font-weight: 600;
    word-spacing: Normal;
    letter-spacing: Normal;

}

a:link, a:visited {
    background-color: blue;
    color: purple;
    padding: 14px 25px;
    display: inline-block;
}

a:hover {
    color: yellow;
}

@media (max-width: 1000px) {
    body {
        background-color: lightblue;
    }
}